/* Réinitialisation des styles de base */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "raleway", helvetica, sans-serif;
  padding: 40px;
}

/* Navbar */
.navbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar a {
  color: black;
}

.navbar .titre {
  font-size: 2em;
  font-weight: bold;
}

.navbar .navlinks ul {
  display: flex;
  gap: 3rem;
}

.navbar .navlinks ul li {
  padding-right: 10px;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
}

/* Styles pour les petits écrans */
@media only screen and (max-width: 767px) {
  .navbar {
    align-items: flex-start;
    flex-direction: column;
  }

  .navbar .navlinks ul {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1em;
  }
}

/* Conteneur principal */
.container1 {
  margin-top: 30px;
}

.container1 img {
  object-fit: cover;
  max-width: 100%;
  margin: auto;
  padding-top: 20px;
}

.explore {
  margin-top:4.5rem;
}

.explore h1 {
  
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.explore p {
  line-height: 1.3;
  font-size: 1.6rem ;
  color: grey;
}

.bouton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  width: 250px;
  height: 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin-top:5rem;
}

.bouton:hover {
  background-color: black;
  transition: background-color 0.3s;
  color: white;
}

.container2 {
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  
  border: px solid #c8ccce;
  border-radius: 10px;
  background-color: #f9f9f9;
  
  /* Taille uniforme pour toutes les cartes */
  flex: 1 1 300px;
  max-width: 300px;
  height: 500px;
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  display: flex;
  align-items: center; /* Centre verticalement l'image */
  justify-content: center; /* Centre horizontalement l'image */
  flex-grow: 1; /* L'image occupe tout l'espace disponible verticalement */
  width: 100%; 
}

.legende {
  text-align: left;
  line-height: 1.3;
  padding: 0 0px;
  gap: 10px;
  
  
}

.legende h3 {
  margin-bottom: 0.8rem;
}


.bouton, .bouton_artworks {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  width: 250px;
  height: 30px; 
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 2.8rem; /* Espace de 30px entre le texte et le bouton */
}

.bouton:hover, .bouton_artworks:hover {
  background-color: black;
  transition: background-color 0.3s;
  color: white;
}



@media (max-width: 768px) {
  .explore, .container2 {
    flex-direction: column;
    align-items: center;
  }

  /* Ajustement pour que les boutons prennent 100% de la largeur */
  .explore_bouton .bouton, .explore_artworks_bouton .bouton_artworks {
    width: 100%; /* Prend toute la largeur du conteneur */
    max-width: none; /* Supprime la limite maximale de 250px */
    box-sizing: border-box; /* Assure que padding et bordures sont inclus dans la largeur */
    padding: 10px; /* Ajuste le padding pour donner plus de confort */
    margin: 0; /* Assure qu'il n'y a pas de marge externe qui casse la mise en page */
  }

  .container1 {
    margin-top: 10px;
  }

  .container2 {
    margin-top: 50px;
  }

  .card img {
    width: 100%;
    max-width: 240px;
  }
}


/* PAST EXHIBITIONS PAGE */
.container_pastexhibitions {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  place-content: center space-between;
}

/* Styles pour les petits écrans */
@media only screen and (max-width: 767px) {
  .container_pastexhibitions {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.card_exhibition {
  align-items: center;
  gap: 30px;
  padding: 0;
  box-sizing: border-box;
  
}

.legende_exhibition {
  text-align: left;
  line-height: 1.4;
  padding: 0;
  margin-top: 20px;
}

.legende_exhibition h3 {
  margin-bottom: 10px;
}

.learnmore {
  display: block; /* Permet de placer le lien sur une nouvelle ligne */
  margin-top: 10px; 
  color: black; 
  text-decoration: underline; 
}
.date {
  color: grey;
}

.card_exhibition img {
  width: 100%;
}

/* EXHIBITION PAGE */

.title_exhibition h1 {
  margin-top: 9rem;
  margin-bottom: 2rem;
  font-size: 52px;
}

.filet {
  
  border-top: 1px solid #babbba; /* La couleur de la bordure */
  padding: px;
  margin:  20px 0; /* Marge en haut et en bas */
  margin-top: 20x;
  
  width: 100%; /* S'assure que la bordure occupe toute la largeur */
}

.containerintro {
  font-size: 20px;
  line-height: 1.3;
  margin-top: 20px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.intro_exhibition {
  flex: 1; /* Chaque colonne prendra une part égale de l'espace disponible */
  line-height: 1.3;
}

.intro_exhibition p {
  font-size : 20px;
}

.texte_exhibition {
  max-width: 80%;
  font-size: 20px;
  line-height: 1.3;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  column-count: 2;
  column-gap: 8rem;
}

.texte_exhibition p {
  margin-bottom: 1.5em;
}

/* Styles spécifiques pour mobile */
@media screen and (max-width: 768px) {
  .texte_exhibition {
    max-width: 100%;
    padding: 0 15px;
    column-count: 1;
    column-gap: 0;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 4rem;
  }

  /* Ajoute des sauts de ligne après chaque paragraphe sur mobile */
  .texte_exhibition p {
    margin-bottom: 1em; /* Espace après chaque paragraphe */
  }

  /* Ajoute un saut de ligne supplémentaire après certains paragraphes */
  .texte_exhibition p:nth-child(3n) {
    margin-bottom: em; /* Plus grand espace tous les 3 paragraphes */
  }
}


.imagefull img {
  margin-top: 9rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .imagefull img {
  margin-top: 2rem;}  
}  


.legende_img {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  
}

.legende_bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}
.bouton_inquire {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  width: 250px;
  height: 30px; 
  padding: 5px;
  border: 1px solid black;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 1rem;
  background-color: white;
}

.bouton_inquire:hover {
  background-color: black;
  transition: background-color 0.3s;
  color: white;
}

@media screen and (max-width: 768px) {
  .legende_bouton {
    flex-direction: column; /* Aligne le texte et le bouton en colonne */
    align-items: flex-start; /* Aligne le contenu à gauche */
  }

  .bouton_inquire {
    width: 100%; /* Le bouton prend toute la largeur disponible */
  }
}

.module_img_txt {
  display: flex;
  margin-top: 120px;
  gap: 80px; /* Espace entre l'image et le texte */
  justify-content: space-between; /* Espace les éléments sur toute la largeur */
  align-items: center; /* Centre les éléments verticalement */
  width: 100vw; /* S'assure que le conteneur prend la largeur de l'écran */
}

.module_img_txt .img_side {
  flex: 1;
  width: 100%; /* L'image occupe toute la largeur du conteneur */
}

.module_img_txt .img_side img {
  width: 100%; /* S'assure que l'image occupe toute la largeur de son conteneur */
  height: auto; /* Garde les proportions de l'image */
}

.module_img_txt .quotes_exhibition {
  flex: 1;
  display: block; /* Passe de flex à block pour empiler les éléments verticalement */
  width: 100%; /* Le texte prend également toute la largeur */
  max-width: 50%; /* Optionnel, pour limiter la largeur du texte */
}

/* Styles spécifiques pour les écrans mobiles */
@media (max-width: 768px) {
  .module_img_txt {
    flex-direction: column; /* Passe en colonne sur mobile */
    gap: 4rem; /* Réduit l'espace entre l'image et le texte */
    margin-top: 4rem; /* Ajuste la marge pour mobile */
    align-items: center; /* Centre les éléments horizontalement */
    max-width: 100%; /* Empêche le dépassement horizontal */
  }

  .module_img_txt .img_side {
    width: 100%; /* L'image prend toute la largeur */
    text-align: center; /* Centre le contenu de l'image */
  }

  .module_img_txt .quotes_exhibition {
    max-width: 100%; /* Réduit la largeur du conteneur pour qu'il ne prenne pas toute la place */
    text-align: center; /* Centre le texte */
    margin: 0 auto; /* Centre horizontalement le conteneur de texte */
    padding: 0 0px; /* Ajoute un padding pour ne pas coller aux bords */

  }
}


.quotes {
  font-size: 28px;
  line-height: 1.3;
  max-width: 400px;
  text-align: left; /* Alignement du texte à gauche */
  margin: 0 auto; /* Centre le conteneur de texte */
}

@media (max-width: 768px) {
  .quotes {
    font-size: 20px;
    line-height: 1.5;
  }
}




.quotes_name {
  font-size: 1rem;
  text-align: left;
  margin: 10px auto 0 auto; /* Ajouter un espace au-dessus et centrer */
  max-width: 400px; /* Assure une largeur cohérente avec le texte principal */
}


.quotes_full {
  margin: 100px auto 0 auto;
  font-size: 2.2rem;
  line-height: 1.3;
  max-width: 800px;
}

.module_img_img {
  display: flex;
  margin-top: 120px;
  gap: 50px; /* Espace entre l'image et le texte */
  justify-content: space-between; /* Centre les éléments horizontalement */
}

.img_side {
  width: 50%; /* Chaque img_side occupe 50% de la largeur du parent */

}

.img_side img {
  width: 100%; /* L'image prend toute la largeur du conteneur parent */
  height: auto; /* Pour maintenir le ratio de l'image */
}



/* Style pour les écrans mobiles */
@media (max-width: 768px) {
  .title_exhibition h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2.5rem; /* Réduit la taille du texte des titres */
  }

  .containerintro {
    flex-direction: column; /* Colonne pour les écrans plus petits */
    gap: 20px; /* Réduit l'espace entre les éléments */
  }

  .texte_extraverted {
    column-count: 1; /* Réduit le nombre de colonnes à 1 */
    column-gap: 20px; /* Réduit l'écart entre les colonnes */
    margin-top: 20px;
  }

  .texte_extraverted .texte_part1,
  .texte_extraverted .texte_part2 {
    margin-bottom: 20px; /* Ajoute un espace entre les paragraphes */
  }

  .imagefull img {
    margin-top: 60px; /* Réduit l'espace au-dessus de l'image */
  }

  .module_img_img {
    flex-direction: column; /* Passe en colonne pour les petits écrans */
  }

  .quotes_full {
    font-size: 1.5rem; /* Réduit la taille de la police pour les petits écrans */
    max-width: 100%; /* S'assure que le texte ne dépasse pas l'écran */
  }

  .filet_mobile {
    display: block; /* Affiche le filet uniquement sur les petits écrans */
    border: 1px solid #babbba; /* Style du filet */
    margin: 20px 0; /* Espace au-dessus et en dessous du filet */
    width: 100%; /* S'assure que le filet occupe toute la largeur */
  }
}


.paintings_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.gallery_card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  border: px solid #c8ccce;
  border-radius: 10px;
  background-color: #f9f9f9;
  
  /* Taille uniforme pour toutes les cartes */
  flex: 1 1 300px;
  max-width: 300px;
  height: 500px;
  box-sizing: border-box;
}

.gallery_card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery_img_container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-grow: 1; /* L'image occupe tout l'espace disponible verticalement */
  width: 100%; 
}

.artworks_medium h2 {
  margin-top: 8rem;
  font-size: 24px;  
}


/* CONTAINER FOR GALLERY ITEM */
/* Styles par défaut */
.container-gallery-item {
  display: flex; /* Utilise flexbox pour aligner les colonnes */
  width: 100%;
  margin-top: 4rem;
}

.artworks-column {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}

.artworks-image {
  max-width: 100%;
  margin-bottom: 3rem;
  display: block;
}

.item-sidebar {
  width: 30%;
  margin-left: 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-sidebar h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.item-sidebar p {
  margin-bottom: 0;
  font-size: 16px;
}

.buy-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  width: 150px;
  height: 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buy-button:hover {
  background-color: black;
  transition: background-color 0.3s;
  color: rgb(255, 255, 255);
}

/* Media Query pour mobile */
@media (max-width: 768px) {
  .container-gallery-item {
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre tout le contenu horizontalement */
  }

  .artworks-column, .item-sidebar {
    width: 100%; /* Chaque section prend 100% de la largeur de l'écran */
    margin: 0; /* Supprime les marges */
    padding: 0; /* Supprime les paddings */
  }

  .artworks-column {
    padding-bottom: 2rem; /* Espace sous l'image pour séparer le texte */
  }

  .buy-button {
    width: 100%; /* Le bouton prend toute la largeur de l'écran */
    box-sizing: border-box; 
    padding: 20px; /* Un padding homogène */
    margin: 0; /* Pas de marge externe */
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

