/* Réinitialisation des styles de base */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  padding: 25px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

/* =====================================
   NAV LINKS STYLES
   ===================================== */
.navbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  @media (max-width: 480px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.navbar a {
  color: black;
}

.navbar .titre {
  font-size: 28px;
  font-weight: 600;
  @media (max-width: 480px) {
    font-size: 22px;
  }
}

.navlinks {
  @media (max-width: 480px) {
    width: 100%;
  }
}

.navlinks ul {
  display: flex;
  gap: 0.5rem;
  @media (max-width: 480px) {
    justify-content: space-between;
    margin-top: 1.5em;
  }
}

.navbar .navlinks ul li a {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 15px;
  border-radius: 30px;
  display: block;
  @media (max-width: 480px) {
    font-size: 14px;
    background-color: #f5f5f7;
  }
}

.navbar .navlinks ul li a:hover {
  background-color: #f5f5f7;
}

/* =====================================
   END NAV LINKS STYLES
   ===================================== */

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
}

/* Texte légendé sous chaque image */
.legende {
  text-align: left;
  line-height: 1.3;
  gap: 10px;
}

.legende h3 {
  margin-bottom: 0rem;
  font-size: 18px;
}

/* Aligner cards ecran 13" */
@media (max-width: 1300px) {
  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

/* Bouton spécifique pour les œuvres d'art */
.bouton_artworks {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  width: 250px;
  height: 40px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 2rem;
}

.bouton_artworks:hover {
  background-color: black;
  transition: background-color 0.3s;
  color: white;
}

/* PAST EXHIBITIONS PAGE */
.container_pastexhibitions {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  column-gap: 1.5rem;
  place-content: center space-between;
}

.card_exhibition {
  display: block;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.card_exhibition img {
  width: 100%;
  /* border-radius: 10px; */
}

.legende_exhibition {
  color: black;
  font-size: 16px;
  line-height: 150%;
}

.legende_exhibition h3 {
  font-size: inherit;
  font-weight: 500;
}

.date {
  font-size: inherit;
  color: gray;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.card_exhibition:hover .date {
  display: block;
}

.venue {
  font-size: inherit;
  color: gray
  display: block;
}

.card_exhibition:hover .venue {
  @media (min-width: 768px) {
    display: none;
  }
}

.card_exhibition:hover h3 {
  text-decoration: underline;
  transition: color 0.1s ease;
}

/* EXHIBITION PAGE */

.title_exhibition h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.filet {
  border-top: 1px solid #babbba;
  padding: px;
  margin: 20px 0; /* Marge en haut et en bas */
  width: 100%; /* S'assure que la bordure occupe toute la largeur */
}

.containerintro {
  font-size: 20px;
  line-height: 1.3;
  margin-top: 20px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.intro_exhibition {
  flex: 1; /* Chaque colonne prendra une part égale de l'espace disponible */
  line-height: 1.3;
}

.intro_exhibition p {
  font-size: 20px;
}

.texte_exhibition {
  max-width: 80%;
  font-size: 20px;
  line-height: 1.3;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  column-count: 2;
  column-gap: 8rem;
}

.texte_exhibition p {
  margin-bottom: 1.5em;
}

.imagefull img {
  margin-top: 5rem;
  width: 100%;
}

.legende_img {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.legende_bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.bouton_inquire {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  width: 250px; /* Largeur fixe pour les grands écrans */
  height: 40px;
  border: 1px solid black;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 1rem;
  background-color: white;
  max-width: 100%;
}

.bouton_inquire:hover {
  background-color: black;
  transition: background-color 0.3s;
  color: white;
}

.module_img_txt {
  display: flex;
  margin-top: 120px;
  gap: 80px; /* Espace entre l'image et le texte */
  justify-content: space-between; /* Espace les éléments sur toute la largeur */
  align-items: center; /* Centre les éléments verticalement */
  width: 100vw; /* S'assure que le conteneur prend la largeur de l'écran */
}

.module_img_txt .img_side {
  flex: 1;
  width: 100%; /* L'image occupe toute la largeur du conteneur */
}

.module_img_txt .img_side img {
  width: 100%; /* S'assure que l'image occupe toute la largeur de son conteneur */
  height: auto; /* Garde les proportions de l'image */
}

.module_img_txt .quotes_exhibition {
  flex: 1;
  display: block; /* Passe de flex à block pour empiler les éléments verticalement */
  width: 100%; /* Le texte prend également toute la largeur */
  max-width: 50%; /* Optionnel, pour limiter la largeur du texte */
}

.quotes {
  font-size: 28px;
  line-height: 1.3;
  max-width: 400px;
  text-align: left; /* Alignement du texte à gauche */
  margin: 0 auto; /* Centre le conteneur de texte */
}

.quotes_name {
  font-size: 1rem;
  text-align: left;
  margin: 10px auto 0 auto; /* Ajouter un espace au-dessus et centrer */
  max-width: 400px; /* Assure une largeur cohérente avec le texte principal */
}

.quotes_full {
  margin: 100px auto 0 auto;
  font-size: 2.2rem;
  line-height: 1.3;
  max-width: 800px;
}

.module_img_img {
  display: flex;
  margin-top: 4rem;
  gap: 50px; /* Espace entre l'image et le texte */
  justify-content: space-between; /* Espace les éléments horizontalement sur les écrans plus larges */
}

.img_side {
  width: 50%; /* Chaque img_side occupe 50% de la largeur du parent */
}

.img_side img {
  width: 100%; /* L'image prend toute la largeur du conteneur parent */
  height: auto; /* Pour maintenir le ratio de l'image */
}

/* GALLERY ITEM */
.container-gallery-item {
  display: flex;
  width: 100%;
  margin: 5rem 0;
  gap: 0rem;
  justify-content: space-between;
}

/* COLUMN FOR ARTWORKS */
.artworks-column {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* STYLES FOR ARTWORK IMAGE */
.artworks-image {
  max-width: 100%;
  margin-bottom: 3rem;
  display: block; /* Évite les espaces en ligne autour de l'image */
}

.item-sidebar {
  width: 25%; /* 30% de la largeur pour la colonne de texte */
  margin-left: 0rem; /* Espace entre les colonnes */
  display: flex;
  flex-direction: column; /* Colonne pour le texte et le bouton */
  justify-content: flex-start; /* Aligne le contenu vers le haut */
  padding-right: 0rem;
}

.title-item h2 {
  font-size: 26px; /* Taille de la police du titre */
  margin-bottom: 0; /* Supprime la marge en bas */
  font-weight: 600;
}
.medium-item {
  color: gray;
  font-size: 16px;
  margin-top: 0.5rem;
  line-height: 1.5;
}

.description-item p {
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  margin-top: 0rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #babbba;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.price-item {
  margin-top: 2rem;
  font-size: 18px;
}

.buy-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 15px 25px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.buy-button:hover {
  background-color: black; /* Couleur de fond au survol */
  color: rgb(255, 255, 255); /* Couleur du texte au survol */
}

.type-form-item {
  margin-right: 2rem;
}

/* Footer Styles */
.footer {
  color: #000000;
  text-align: left;
  font-size: 14px;
  margin-top: 10rem;
}

.footer a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-content {
  width: 100%; /* Occupe toute la largeur */
  display: flex;
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Centrage vertical des éléments */
}

@media (max-width: 768px) {
  /* Explore and artworks container */
  .explore,
  .container2 {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .explore h1 {
    margin-top: 0rem;
  }

  .explore p {
    font-size: 18px; /* Ajuster la taille du texte */
  }

  .legende {
    font-size: 16px;
  }

  /* Past exhibitions */
  .container_pastexhibitions {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .legende_exhibition {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 0.5rem;
  }

  .card_exhibition {
    margin-bottom: 0rem;
  }

  /* EXHIBITION PAGE */

  .containerintro {
    flex-direction: column;
    align-items: center; /* Centre les colonnes horizontalement */
    gap: 1rem; /* Réduit l'écart entre les sections sur mobile */
  }

  .intro_exhibition {
    width: 100%; /* Chaque section occupe 100% de la largeur */
    max-width: 600px; /* Limite la largeur pour éviter que le texte s'étale trop */
    text-align: left; /* Aligne le texte à gauche */
    padding-bottom: 20px; /* Ajoute de l'espace sous le texte avant le filet */
    border-bottom: 1px solid #babbba; /* Filet sous chaque section */
  }

  .intro_exhibition p {
    font-size: 18px; /* Taille de texte légèrement plus petite pour mobile si besoin */
  }

  .texte_exhibition {
    max-width: 100%;
    padding: 0 15px;
    column-count: 1;
    column-gap: 0;
    font-size: 16px;
    margin-top: 3rem;
  }

  .texte_exhibition p {
    margin-bottom: 1em;
  }

  .texte_exhibition p:nth-child(3n) {
    margin-bottom: 1em;
  }
  .imagefull img {
    margin-top: 3rem;
  }

  .legende_img {
    text-align: left;
    font-size: 11px;
    margin-top: 0.3rem;
  }

  .legende_bouton {
    flex-direction: column; /* Réorganise les éléments en colonne sur mobile */
    align-items: left; /* Centrer les éléments */
    width: 100%; /* Conteneur prend toute la largeur */
    box-sizing: border-box; /* Inclut padding et bordures dans la largeur */
  }

  .bouton_inquire {
    font-size: 15px;
    width: 100%; /* Le bouton prend 100% de la largeur de son conteneur */
    max-width: 100%; /* Assure que le bouton ne dépasse pas */
    padding: 20px; /* Ajuste le padding pour rendre le bouton plus confortable */
    box-sizing: border-box; /* Bordure et padding inclus dans la largeur */
  }

  .module_img_txt {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
  }

  .module_img_txt .img_side {
    width: 100%;
    text-align: center;
  }

  .module_img_txt .quotes_exhibition {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  /* Quotes */
  .quotes {
    font-size: 20px;
    line-height: 1.5;
  }

  .quotes_full {
    font-size: 22px;
    max-width: 100%;
    margin-top: 2rem;
  }

  .module_img_img {
    flex-direction: column;
    margin-top: 2rem;
  }

  .img_side {
    width: 100%; /* Chaque image prend toute la largeur du contenant */
  }

  .intro_exhibition p {
    font-size: 16px;
  }

  /* Gallery item */
  .container-gallery-item {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }

  .artworks-column {
    width: 100%;
    padding-right: 0;
  }

  .item-sidebar {
    width: 100%;
    margin-left: 0;
  }

  .item-sidebar h2,
  .item-sidebar p {
    width: 100%;
  }

  .buy-button {
    font-size: 16px;
    margin-top: 2rem;
    display: block;
    text-align: center;
  }
  .footer {
    color: #000000;
    text-align: left;
    font-size: 11px;
    margin-top: 5rem;
  }
}
