/* Gallery page specific styles */

/* Gallery cards containers */
.paintings_container,
.collages-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  justify-items: stretch;
  align-items: stretch;
}

.artworks_medium h2 {
  margin-top: 4rem;
  font-size: 18px;
  font-weight: 600;
}

/* Individual gallery card */
.gallery_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: inherit;
  background-color: #f5f5f7;
  border-radius: 10px;
}

.gallery_img_container {
  width: 100%;
}

.gallery_card img {
  width: 100%;
  height: auto;
  filter: brightness(0.9);
}

.legende {
  font-size: 16px;
  line-height: 150%;
}

.legende h3 {
  font-size: inherit;
  font-weight: 500;
}

.legende .medium,
.legende .size {
  color: gray;
}

.size {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.gallery_card:hover .size {
  display: block;
}

.gallery_card:hover .medium {
  @media (min-width: 768px) {
    display: none;
  }
}

.gallery_card:hover h3 {
  text-decoration: underline;
  transition: color 0.1s ease;
}
/* Tablet styles (entre 769px et 1024px) */
@media (max-width: 1024px) {
  .paintings_container,
  .collages-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile styles (jusqu'à 768px) */
@media (max-width: 480px) {
  .paintings_container,
  .collages-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
